body{
    overflow: hidden;
}
main{
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        #272353,
        #302b63, 
        #24243e 
    );
    overflow: hidden;
}
